.list-activities {
  overflow: hidden;
  position: relative;
  background: @color-rare;
  min-height: 16em;

  .wrapper-message { top: 50%; }
}

.item-activity {
  .transform(translate3d(0,0,0));
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;

  .attribution {
    .background-image(linear-gradient(top, rgba(255,255,255,.9), rgba(255,255,255,1) 70%, @color-empty 100%));
    .display(flex);
    .flex-wrap(wrap);
    .position(absolute, auto, 0, 0, 0);
    .font-s2;
    padding: .5rem;
    z-index: 1;

    .avatar,
    .meta {
      .flex(1);
    }

    .avatar {
      max-width: 2rem;
      height: 2rem;
      margin-right: .5rem;
    }

    .meta {
      color: @color-well;
      overflow: hidden;
    }

    .author { .type-black; }
    .location { color: @color-medium-rare; }
  }

  .bg-image {
    display: block;
    height: 16rem;
    width: 100%;
  }
}