<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-about">
        <p>Be a local wherever you go. Connect to Local Market’s community to get the latest news, hand-picked recipes, and share with other locals. This seasons recipes were chosen by local chefs Colin Kull of <a href="http://www.rangesf.com/" target="_blank">Range</a>, Laurie Ellen Pellicano of <a href="http://www.tartinebakery.com/" target="_blank">Tartine Bakery</a>, and Ren Rossini of <a href="http://www.fattedcalf.com/"  target="_blank">Fatted Calf</a>.</p>

        <p>Local Market is an open source recipe app powered by <a href="http://meteor.com">MeteorJS</a> and made by <a href="http://percolatestudio.com">Percolate Studio</a>.</p>
      </div>

      <a href="http://github.com/meteor/recipes/" class="btn-primary" target="_blank">Learn More</a>
    </div>
  </div>
</template>