<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">Meet Sous</h1>
      </div>
      <div class="description-about">
        <p>The best recipes on the web hand-picked by San Francisco's top chefs. Explore recipes curated by Colin Kull of <a href="http://www.rangesf.com/" target="_blank">Range</a>, Laurie Ellen Pellicano of <a href="http://www.tartinebakery.com/" target="_blank">Tartine Bakery</a>, and Ren Rossini of <a href="http://www.fattedcalf.com/"  target="_blank">Fatted Calf</a>.</p>

        <p>Sous is an open source recipe book brought to you by the next-generation web framework <a href="http://meteor.com">MeteorJS</a> &amp; <a href="http://percolatestudio.com">Percolate Studio</a>.</p>
      </div>

      <div class="btns-group">
        <a href="http://github.com/meteor/recipes/" class="btn-primary" target="_blank">View Code</a>
        <a href="http://meetsous.com" class="btn-tertiary" target="_blank">Learn More</a>
      </div>
    </div>
  </div>
</template>