<template name="appBody">
  <div id="container" class="{{menuOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="icon-home"></span>
        <span class="title-menu">Home</span>
      </a>
      <a href="{{pathFor 'categories'}}" class="{{activePage 'categories' 'category' 'recipe'}}">
        <span class="icon-category"></span>
        <span class="title-menu">Categories</span>
      </a>
      <a href="{{pathFor 'favorites'}}" class="{{activePage 'favorites'}}">
        <span class="icon-heart-hollow"></span>
        <span class="title-menu">Favorites</span>
      </a>
      <a href="{{pathFor 'about'}}" class="{{activePage 'about'}}">
        <span class="icon-question"></span>
        <span class="title-menu">About</span>
      </a>
    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    {{> emailOverlay}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>