<template name="body">
  <div id="container" class="{{templateClass}} {{menuOpen}} {{emailOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor 'home'}}"><span class="icon-home"></span>Home</a>
      <a href="{{pathFor 'categories'}}"><span class="icon-category"></span>Categories</a>
      <a href="{{pathFor 'favorites'}}"><span class="icon-heart-hollow"></span>Favorites</a>
      <a href="{{pathFor 'about'}}"><span class="icon-question"></span>About</a>
    </section>

    {{> emailOverlay}}

    <div id="content-container">
      {{#momentum with=transition}}
        {{> yield}}
      {{/momentum}}
    </div>
  </div>
</template>