<template name="body">
  <div id="container" class="{{menuOpen}} {{emailOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor 'home'}}">Home</a>
      <a href="{{pathFor 'categories'}}">Categories</a>
      <a href="{{pathFor 'favorites'}}">Favorites</a>
      <a href="{{pathFor 'about'}}">About</a>
    </section>
    
    {{> emailOverlay}}

    <div id="content-container">
      <p>
        <a data-menu>Menu</a>
        <a data-email>Email this!</a>
      </p>
  
      {{#momentum with=transition}}
        {{> yield}}
      {{/momentum}}
    </div>
  </div>
</template>