<template name="category">
  <div class="page category">
    {{> nav title='category' black=true back=true}}

    {{#contentFor 'rightNav'}}
      <a href="#" class="nav-item" data-email><span class="icon-twitter"></span></a>
    {{/contentFor}}

    <div class="content-scrollable">
      {{#with category}}
        <div class="bg-image {{name}}">
          <h1 class="title-category">{{title}}</h1>
          <span class="count-category">{{pluralize ../recipes.count 'Recipe'}}</span>
        </div>

        <p class="description-category">{{description}}</p>
      {{/with}}

      <div class="list-recipes">
      {{#each recipes}}
        <a class="item-recipe {{#if highlighted}}highlighted{{/if}}" href="{{pathFor 'recipe'}}">
          <span class="attribution">
            <span class="title-recipe">{{title}}</span>
            <span class="author-recipe">{{source.name}}</span>
          </span>
          {{#if highlighted}}
            <img src="{{recipeImage recipe=this size='640x480'}}" />
          {{else}}
            <img src="{{recipeImage recipe=this size='320x350'}}" />
          {{/if}}
        </a>
      {{/each}}
      </div>
    </div>
  </div>
</template>