<template name="emailOverlay">
  <div id="email-hook">
    {{#if open}}
      <div id="email-overlay">
        {{#with recipes}}
          <a href="#" data-close-overlay><span class="icon-cross"></span></a>

          <div class="title-overlay">Email {{pluralize count 'recipe' wordOnly=true}}</div>

          <form>
            <div class="input-symbol {{errorClass 'name'}}">
              <input name="name" type="text" autocapitalize="off" autocorrect="off" placeholder="Your Name" />
              <span class="icon-user"></span>
            </div>
            <div class="input-symbol {{errorClass 'sender'}}">
              <input name="sender" type="text" autocapitalize="off" autocorrect="off" placeholder="Your Email Address" />
              <span class="icon-email"></span>
            </div>
            <div class="input-symbol {{errorClass 'recipient'}}">
              <input name="recipient" type="text" autocapitalize="off" autocorrect="off" placeholder="Recipient's Email Address" />
              <span class="icon-email"></span>
            </div>
            <button class="btn-primary" type='submit'>Send Recipe</button>
          </form>
        {{/with}}
      </div>
    {{/if}}
  </div>
</template>