<template name="favorites">
  <div class="page favorites">
    {{> nav title='Favorites' subtext=recipeCount}}

    {{#contentFor 'rightNav'}}
      <a href="#" class="nav-item" data-email><span class="icon-share"></span></a>
    {{/contentFor}}

    <div class="content-scrollable">
      <div class="list-recipes">
        {{#each favoriteRecipes}}
          <a class="item-recipe highlighted" href="{{pathFor 'recipe'}}">
            <span class="attribution">
              <span class="title-recipe">{{title}}</span>
              <span class="author-recipe">{{source.name}}</span>
            </span>
            <img src="{{recipeImage recipe=this size='640x480'}}" />
          </a>
        {{else}}
          <div class="no-favorites">
            <div class="title-no-favorites">No favorites yet</div>
            <div class="subtitle-no-favorites">Tap on the <span class="icon-heart-hollow"></span> to save your favorite recipes. <a href="{{pathFor 'home'}}">Return home</a></div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>