<template name="favorites">
  <div class="page favorites">
    {{> nav title='Favorites' subtext=recipeCount}}

    {{#contentFor 'rightNav'}}
      <a data-email><span class="icon-share"></span></a>
    {{/contentFor}}

    <div class="list-recipes">
      {{#each favoriteRecipes}}
        <a class="item-recipe inverse" href="{{pathFor 'recipe'}}">
          <span class="attribution">
            <span class="title-recipe">{{title}}</span>
            <span class="author-recipe">{{source.name}}</span>
          </span>
          <img src="{{recipeImage recipe=this size='640x480'}}" />
        </a>
      {{else}}
        {{! XXX: DOM this is one way to do "if not"}}
      {{/each}}
    </div>
  </div>

  {{#unless favoriteRecipes.count}}
    {{! XXX: DOM this is the other}}
    NO RECIPES!
  {{/unless}}
</template>