<template name="home">
  <div class="page home">

    {{#nav title='Home' black=true}}
      <a href="https://www.google.com/maps/place/Meteor+Development+Group/@37.7750586,-122.4154347,16z/data=!4m2!3m1!1s0x0:0x5c17d9aefce604ba" target="_blank" class="nav-item"><span class="icon-pin"></span></a>
    {{/nav}}


    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="Local Market"/>
        </h1>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">News</span>
        {{latestNews}}
      </div>

      <h2 class="section-title">Featured Recipes</h2>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Explore all our recipes</a>

      <h2 class="section-title">What's Cooking</h2>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{/each}}
      </div>
    </div>

  </div>
</template>