<template name="home">
  <div class="page home">
    {{> nav title='Sous' black=true}}

    <div class="content-scrollable">
      {{> placeholder name='logo' height=12}}
      {{> placeholder name='news'}}
      
      {{#placeholder name='popular recipes'}}
        <div class="list-recipes">
          {{#each featuredRecipes}}
            <a class="item-recipe" href="{{pathFor 'recipe'}}">
              <span class="attribution">
                <span class="title-recipe">{{title}}</span>
                <span class="author-recipe">{{source.name}}</span>
              </span>

              <img src="{{recipeImage recipe=this size='320x350'}}" />
            </a>
          {{/each}}
        </div>
        
        <a href="{{pathFor 'recipes'}}">Explore all our recipes</a>
      {{/placeholder}}
      
      
      {{#placeholder name='whats cooking'}}
        {{#each activities}}
          {{> activity}}
        {{/each}}
      {{/placeholder}}
    </div>

  </div>
</template>