<template name="recipe">
  <div class="page recipe">
    {{#nav black=true back=true}}
      {{#if bookmarked}}
        <a href="#" class="nav-item js-remove-bookmark bookmarked"><span class="icon-bookmark"></span></a>
      {{else}}
        <a href="#" class="nav-item js-add-bookmark"><span class="icon-bookmark-hollow"></span></a>
      {{/if}}
      <a href="#" class="nav-item js-share"><span class="icon-share"></span></a>
    {{/nav}}

    <div class="content-scrollable">
      <div class="image" style="background-image: url('{{recipeImage recipe=this size='640x800'}}')"></div>

      <div class="attribution">
        <h1 class="title-recipe">{{title}}</h1>
        <p class="description-recipe">{{excerpt}}</p>
        <span class="source">{{source.name}}</span>
        <span class="time">{{cookTime}}</span>
      </div>

      <div class="btns-group">
        <a class="btn-primary js-show-recipe">Make It</a>
        <a class="btn-secondary js-show-feed">Feed</a>
      </div>

      {{#if showRecipe}}
        <div class="ingredients" name="ingredients" data-ingredients>
          <h2 class="title-ingredients">21 Ingredients</h2>
          <ul class="list-ingredients">
            {{#each ingredients}}
              <li class="item-ingredient">{{this}}</li>
            {{/each}}
          </ul>
          {{#placeholder name='directions' height=12}}
            <ol>
              {{#each directions}}
                <li>{{this}}</li>
              {{/each}}
            </ol>
          {{/placeholder}}
        </div>
      {{else}}
        {{#placeholder name='activities' height=12}}
          {{#each activities}}
            {{> activity}}
          {{/each}}
        {{/placeholder}}
      {{/if}}
    </div>
  </div>
</template>