<template name="recipe">
  <div class="page recipe">
    {{> nav black=true back=true}}

    {{#contentFor 'rightNav'}}
      {{#if favorite}}
        <a href="#" class="nav-item" data-unfavorite><span class="icon-heart"></span></a>
      {{else}}
        <a href="#" class="nav-item" data-favorite><span class="icon-heart-hollow"></span></a>
      {{/if}}
      <a href="#" class="nav-item js-share"><span class="icon-twitter"></span></a>
    {{/contentFor}}

    <div class="content-scrollable">
      <div class="image" style="background-image: url('{{recipeImage recipe=this size='640x800'}}')"></div>

      <div class="attribution">
        <h1 class="title-recipe">{{title}}</h1>
        <p class="description-recipe">{{excerpt}}</p>
        <span class="source">{{source.name}}</span>
        <span class="time">{{cookTime}}</span>
      </div>

      <div class="btns-group">
        <a class="btn-primary" data-ingredients-trigger>Ingredients</a>
        <a href="{{source.url}}/" class="btn-secondary" target="_blank">Directions</a>
      </div>

      <div class="ingredients" name="ingredients" data-ingredients>
        <h2 class="title-ingredients">21 Ingredients</h2>
        <ul class="list-ingredients">
          {{#each ingredients}}
            <li class="item-ingredient">{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>