<template name="shareOverlay">
  {{#if currentUser}}
    <div id="share-overlay">

      {{#unless attachedImage}}
        <a href="#" class="js-close-overlay"><span class="icon-cross"></span></a>
        <div class="title-overlay">Share</div>
        
        <button class="js-attach-image">Take photo</button>
      {{else}}
        <a href="#" class="js-unattach-image"><span class="icon-left-arrow"></span></a>
        <div>Share</div>
        <a href="#" class="js-close-overlay"><span class="icon-cross"></span></a>

        <img src="{{attachedImage}}" class="thumbnail" width="320px">
        
        <form>
          <img src="{{avatar}}" class="avatar">
          <div class="input-symbol {{errorClass 'text'}}">
            <textarea name="text" type="text" autocapitalize="off" autocorrect="off" 
              placeholder="Add Advice.. bunch of other stuff I can't read on my tiny printout"></textarea>
          </div>
          
          <input type="checkbox" name="tweeting" id="tweeting" value="false">
          <label for="tweeting">Post to Twitter</label>
          
          {{#if tweeting}}
            <div class="input-symbol {{errorClass 'tweet'}}">
              <textarea name="tweet" type="text" autocapitalize="off" autocorrect="off" 
                value="Other stuff I can't read without straining my eyes"></textarea>
            </div>
          {{/if}}

          <button class="btn-primary" type='submit'>
            {{#if tweeting}}
              Share &amp; Tweet
            {{else}}
              Share
            {{/if}}
          </button>
        </form>
      {{/unless}}

    </div>
  {{else}}
    {{> authOverlay}}
  {{/if}}
</template>